# Missing value handling

missing values in pandas data fra,e are represented by NaN ( np.nan )

for data analytics / predictions / machine learning we require to fill the missing values

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from numpy.random import default_rng
rng = default_rng()


dates = pd.date_range("20230315",
                      periods=6)

df = pd.DataFrame(rng.standard_normal((6, 4)),
                  index=dates,
                  columns=list("ABCD"))

print(df)

                   A         B         C         D
2023-03-15 -1.009556 -0.411774 -0.839588 -0.395896
2023-03-16  1.709858 -1.309982  0.005990  0.537105
2023-03-17 -0.013703  0.881523 -2.850155  0.249927
2023-03-18 -0.903688 -0.185001  0.176652  0.764111
2023-03-19  0.473379 -0.178109 -1.304315  0.333720
2023-03-20 -0.272004  0.789753 -0.465072  0.429295

In [ ]:
print("############")
df1= df.copy()

df1['E'] = [5,np.nan,100,np.nan,200,500]

print(df1)
# Check which cells are Missing (NaN)
print(df1.isna())
print(df1.isnull())

############
                   A         B         C         D      E
2023-03-15 -0.597288 -3.091303 -0.271665 -0.385170    5.0
2023-03-16 -0.448337  0.019683  1.105350  2.297039    NaN
2023-03-17  0.622201  0.057282  1.226071 -0.131859  100.0
2023-03-18  0.262189 -0.213958 -0.423634  1.110459    NaN
2023-03-19 -0.468629 -1.714092 -1.314067 -2.794709  200.0
2023-03-20  0.536841 -0.319496  0.719570 -0.954541  500.0
                A      B      C      D      E
2023-03-15  False  False  False  False  False
2023-03-16  False  False  False  False   True
2023-03-17  False  False  False  False  False
2023-03-18  False  False  False  False   True
2023-03-19  False  False  False  False  False
2023-03-20  False  False  False  False  False
                A      B      C      D      E
2023-03-15  False  False  False  False  False
2023-03-16  False  False  False  False   True
2023-03-17  False  False  False  False  False
2023-03-18  False  False  False  False   True
2023-03-19  False  False  False  False  False
2023-03-20  False  False  False  False  False

## Solution to missing value

- drop rows / columns containing missing values

In [ ]:
# Drop all rows containing any missing (NaN) value
print(df1)
print(df1.dropna(how="any" )) # by default axis=0
print(df1.dropna(how="any",axis=1))

                   A         B         C         D      E
2023-03-15 -0.597288 -3.091303 -0.271665 -0.385170    5.0
2023-03-16 -0.448337  0.019683  1.105350  2.297039    NaN
2023-03-17  0.622201  0.057282  1.226071 -0.131859  100.0
2023-03-18  0.262189 -0.213958 -0.423634  1.110459    NaN
2023-03-19 -0.468629 -1.714092 -1.314067 -2.794709  200.0
2023-03-20  0.536841 -0.319496  0.719570 -0.954541  500.0
                   A         B         C         D      E
2023-03-15 -0.597288 -3.091303 -0.271665 -0.385170    5.0
2023-03-17  0.622201  0.057282  1.226071 -0.131859  100.0
2023-03-19 -0.468629 -1.714092 -1.314067 -2.794709  200.0
2023-03-20  0.536841 -0.319496  0.719570 -0.954541  500.0
                   A         B         C         D
2023-03-15 -0.597288 -3.091303 -0.271665 -0.385170
2023-03-16 -0.448337  0.019683  1.105350  2.297039
2023-03-17  0.622201  0.057282  1.226071 -0.131859
2023-03-18  0.262189 -0.213958 -0.423634  1.110459
2023-03-19 -0.468629 -1.714092 -1.314067 -2.794709
2023-03-20  0.536841 -0.319496  0.719570 -0.954541

### Solution to missing value handling

- fill the missing values

In [ ]:
print(df1)
# Fill constant value
print(df1.fillna(value=9999))
# Fill Median value of that column
# Used in Industry
print(df1.fillna(value=df1.median()))
print(df1.fillna(value=df1.mean()))

                   A         B         C         D      E
2023-03-15 -0.597288 -3.091303 -0.271665 -0.385170    5.0
2023-03-16 -0.448337  0.019683  1.105350  2.297039    NaN
2023-03-17  0.622201  0.057282  1.226071 -0.131859  100.0
2023-03-18  0.262189 -0.213958 -0.423634  1.110459    NaN
2023-03-19 -0.468629 -1.714092 -1.314067 -2.794709  200.0
2023-03-20  0.536841 -0.319496  0.719570 -0.954541  500.0
                   A         B         C         D       E
2023-03-15 -0.597288 -3.091303 -0.271665 -0.385170     5.0
2023-03-16 -0.448337  0.019683  1.105350  2.297039  9999.0
2023-03-17  0.622201  0.057282  1.226071 -0.131859   100.0
2023-03-18  0.262189 -0.213958 -0.423634  1.110459  9999.0
2023-03-19 -0.468629 -1.714092 -1.314067 -2.794709   200.0
2023-03-20  0.536841 -0.319496  0.719570 -0.954541   500.0
                   A         B         C         D      E
2023-03-15 -0.597288 -3.091303 -0.271665 -0.385170    5.0
2023-03-16 -0.448337  0.019683  1.105350  2.297039  150.0
2023-03-17  0.622201  0.057282  1.226071 -0.131859  100.0
2023-03-18  0.262189 -0.213958 -0.423634  1.110459  150.0
2023-03-19 -0.468629 -1.714092 -1.314067 -2.794709  200.0
2023-03-20  0.536841 -0.319496  0.719570 -0.954541  500.0
                   A         B         C         D       E
2023-03-15 -0.597288 -3.091303 -0.271665 -0.385170    5.00
2023-03-16 -0.448337  0.019683  1.105350  2.297039  201.25
2023-03-17  0.622201  0.057282  1.226071 -0.131859  100.00
2023-03-18  0.262189 -0.213958 -0.423634  1.110459  201.25
2023-03-19 -0.468629 -1.714092 -1.314067 -2.794709  200.00
2023-03-20  0.536841 -0.319496  0.719570 -0.954541  500.00

# Column operations in pandas

## drop a column

- using drop function

drop function uses

a. axis --> if axis=0 then drop will work in direction of rows, if axis=1 then drop will work on columns. By default axis=0

b. labels --> compulsory parameter

give sinle label / list of labels for rows / columns ( column label is name of the column )

c. inplace --> if true --> then modify original data frame returns None , if false --> creates a copy of original and changes the copy, return the changed copy

In [ ]:
print(df)
# drop drop column 'D'
print(df.drop('D', axis=1))
# drop drop column 'A' & 'C'
print(df.drop(['A','C'], axis=1))

                   A         C         D       BBB
2023-03-15 -0.597288 -0.271665 -0.385170 -3.091303
2023-03-16 -0.448337  1.105350  2.297039  0.019683
2023-03-17  0.622201  1.226071 -0.131859  0.057282
2023-03-18  0.262189 -0.423634  1.110459 -0.213958
2023-03-19 -0.468629 -1.314067 -2.794709 -1.714092
2023-03-20  0.536841  0.719570 -0.954541 -0.319496
                   A         C       BBB
2023-03-15 -0.597288 -0.271665 -3.091303
2023-03-16 -0.448337  1.105350  0.019683
2023-03-17  0.622201  1.226071  0.057282
2023-03-18  0.262189 -0.423634 -0.213958
2023-03-19 -0.468629 -1.314067 -1.714092
2023-03-20  0.536841  0.719570 -0.319496
                   D       BBB
2023-03-15 -0.385170 -3.091303
2023-03-16  2.297039  0.019683
2023-03-17 -0.131859  0.057282
2023-03-18  1.110459 -0.213958
2023-03-19 -2.794709 -1.714092
2023-03-20 -0.954541 -0.319496

## change name of the column

In [ ]:
df1=df.copy()
print(df1)
# rename column B with BBB
df1['BBB'] = df1['B']
df1.drop(['B'], axis=1,inplace=True)
print(df1)

                   A         B         C         D
2023-03-15 -0.597288 -3.091303 -0.271665 -0.385170
2023-03-16 -0.448337  0.019683  1.105350  2.297039
2023-03-17  0.622201  0.057282  1.226071 -0.131859
2023-03-18  0.262189 -0.213958 -0.423634  1.110459
2023-03-19 -0.468629 -1.714092 -1.314067 -2.794709
2023-03-20  0.536841 -0.319496  0.719570 -0.954541
                   A         C         D       BBB
2023-03-15 -0.597288 -0.271665 -0.385170 -3.091303
2023-03-16 -0.448337  1.105350  2.297039  0.019683
2023-03-17  0.622201  1.226071 -0.131859  0.057282
2023-03-18  0.262189 -0.423634  1.110459 -0.213958
2023-03-19 -0.468629 -1.314067 -2.794709 -1.714092
2023-03-20  0.536841  0.719570 -0.954541 -0.319496

## add two columns and create a new column

example

there is data of students. columns sub1_marks, sub2_marks, sub3_marks

we need to have a total column

In [ ]:
# take a data frame
df1 = df.copy()
print(df1)
# create a new column 'Z' such that Z = A+B
df1['Z'] = df1['A'] + df1['B']
print(df1)
# create 'discounted C' dis_c = 0.9 * df['C' ] #10% less amount than C
df1['dis_c'] = 0.9*df['C']
print(df1)
# you can perform any math operation here .. all operators are

                   A         B         C         D
2023-03-15 -1.009556 -0.411774 -0.839588 -0.395896
2023-03-16  1.709858 -1.309982  0.005990  0.537105
2023-03-17 -0.013703  0.881523 -2.850155  0.249927
2023-03-18 -0.903688 -0.185001  0.176652  0.764111
2023-03-19  0.473379 -0.178109 -1.304315  0.333720
2023-03-20 -0.272004  0.789753 -0.465072  0.429295
                   A         B         C         D         Z
2023-03-15 -1.009556 -0.411774 -0.839588 -0.395896 -1.421330
2023-03-16  1.709858 -1.309982  0.005990  0.537105  0.399875
2023-03-17 -0.013703  0.881523 -2.850155  0.249927  0.867820
2023-03-18 -0.903688 -0.185001  0.176652  0.764111 -1.088690
2023-03-19  0.473379 -0.178109 -1.304315  0.333720  0.295270
2023-03-20 -0.272004  0.789753 -0.465072  0.429295  0.517749
                   A         B         C         D         Z     dis_c
2023-03-15 -1.009556 -0.411774 -0.839588 -0.395896 -1.421330 -0.755629
2023-03-16  1.709858 -1.309982  0.005990  0.537105  0.399875  0.005391
2023-03-17 -0.013703  0.881523 -2.850155  0.249927  0.867820 -2.565140
2023-03-18 -0.903688 -0.185001  0.176652  0.764111 -1.088690  0.158987
2023-03-19  0.473379 -0.178109 -1.304315  0.333720  0.295270 -1.173883
2023-03-20 -0.272004  0.789753 -0.465072  0.429295  0.517749 -0.418565

# Apply user defined function to data

In [ ]:
df1 =df[['A','B','C']].copy()
print(df1)
# apply () applies given function on ALL columns one by one
 # x is all values from a single column
print(df1.apply(lambda x: x.max() - x.min()))
### WRONG EXAMPLE .....
def my_non_vec_fun(x):
    return 10
 # x is all values from a single column
print(df1.apply(my_non_vec_fun))

                   A         B         C
2023-03-15 -1.009556 -0.411774 -0.839588
2023-03-16  1.709858 -1.309982  0.005990
2023-03-17 -0.013703  0.881523 -2.850155
2023-03-18 -0.903688 -0.185001  0.176652
2023-03-19  0.473379 -0.178109 -1.304315
2023-03-20 -0.272004  0.789753 -0.465072
A    2.719413
B    2.191505
C    3.026807
dtype: float64
A    10
B    10
C    10
dtype: int64

# String column handling

In [ ]:
s = pd.Series([10.2,"A", "B", "C", "Aaba", "Baca",
                np.nan, "CABA", "dog",
               "cat"])

print(s.str.lower())

print(s.str.endswith("a"))

0     NaN
1       a
2       b
3       c
4    aaba
5    baca
6     NaN
7    caba
8     dog
9     cat
dtype: object
0      NaN
1    False
2    False
3    False
4     True
5     True
6      NaN
7    False
8    False
9    False
dtype: object

# Concatination of data frames

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

print(df)
print(df.iloc[:3,])
print(df.iloc[3:7,])
print(df.iloc[7:,])

          0         1         2         3
0 -0.161094  0.631419  1.343165 -0.506582
1 -0.882450  1.497789  2.091140  0.699523
2  0.414591 -1.100060  0.312604 -1.155658
3  0.332892  0.076302 -0.703176 -1.525178
4 -0.037101  0.598184 -1.605417  1.884488
5  0.436219 -1.156071 -0.127302 -0.342536
6  1.545473  1.205866  2.013954 -0.019056
7  0.591827 -0.193172 -0.722282 -1.472432
8  0.482938 -0.091244  0.659384  0.945272
9 -0.993266  0.837176  0.639942 -0.512757
          0         1         2         3
0 -0.161094  0.631419  1.343165 -0.506582
1 -0.882450  1.497789  2.091140  0.699523
2  0.414591 -1.100060  0.312604 -1.155658
          0         1         2         3
3  0.332892  0.076302 -0.703176 -1.525178
4 -0.037101  0.598184 -1.605417  1.884488
5  0.436219 -1.156071 -0.127302 -0.342536
6  1.545473  1.205866  2.013954 -0.019056
          0         1         2         3
7  0.591827 -0.193172 -0.722282 -1.472432
8  0.482938 -0.091244  0.659384  0.945272
9 -0.993266  0.837176  0.639942 -0.512757

In [ ]:
df_list = [df[:3], df[3:7], df[7:]]

print(pd.concat(df_list ))

          0         1         2         3
0 -0.161094  0.631419  1.343165 -0.506582
1 -0.882450  1.497789  2.091140  0.699523
2  0.414591 -1.100060  0.312604 -1.155658
3  0.332892  0.076302 -0.703176 -1.525178
4 -0.037101  0.598184 -1.605417  1.884488
5  0.436219 -1.156071 -0.127302 -0.342536
6  1.545473  1.205866  2.013954 -0.019056
7  0.591827 -0.193172 -0.722282 -1.472432
8  0.482938 -0.091244  0.659384  0.945272
9 -0.993266  0.837176  0.639942 -0.512757

# How to perform join like SQL in pandas data frame

- merge function : this is one of the ways

In [ ]:
left = pd.DataFrame({"key": ["foo", "bar"],
                     "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "bar"],
                      "rval": [4, 5]})

print(left)

print(right)
print(pd.merge(left, right, on="key")) # on takes name of the column

   key  lval
0  foo     1
1  bar     2
   key  rval
0  foo     4
1  bar     5
   key  lval  rval
0  foo     1     4
1  bar     2     5

# GroupBy


 List of Aggregation FUnctions on Group by

mean(): Compute mean of groups

sum(): Compute sum of group values

size(): Compute group sizes

count(): Compute count of group

std(): Standard deviation of groups

var(): Compute variance of groups

sem(): Standard error of the mean of groups.
 It describes how every value of the group is away from the mean.

describe(): Generates descriptive statistics

first(): Compute first of group values

last(): Compute last of group values

nth() : Take nth value, or a subset if n is a list

min(): Compute min of group values

max(): Compute max of group values

nunique() : count of unique records in selected column

unique() : unique values in selected column

ref : https://pandas.pydata.org/pandas-docs/version/0.23/api.html#function-application

ref : https://cmdlinetips.com/2019/10/pandas-groupby-13-functions-to-aggregate/

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar",
              "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two",
              "three", "two", "two",
              "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)

print(df)

     A      B         C         D
0  foo    one -0.011812  0.462905
1  bar    one  0.236146 -0.255624
2  foo    two  2.011260 -1.562518
3  bar  three  0.696798 -0.197065
4  foo    two -0.535265  0.039645
5  bar    two  1.323025  0.065609
6  foo    one  1.219798  1.887929
7  foo  three  0.403596  0.453857

- Group By Single Column

In [ ]:
print(df.groupby("A")[["C", "D"]].sum())
print("#############")
print(df.groupby("A")[["C"]].sum())

            C         D
A
bar  2.255969 -0.387080
foo  3.087577  1.281818
#############
            C
A
bar  2.255969
foo  3.087577

In [ ]:
# Group By Multiple Columns
print(df.groupby(["A", "B"]).sum())
print("#############")
print(df.groupby(["A", "B"])['D'].sum())

                  C         D
A   B
bar one    0.236146 -0.255624
    three  0.696798 -0.197065
    two    1.323025  0.065609
foo one    1.207986  2.350834
    three  0.403596  0.453857
    two    1.475995 -1.522873
#############
A    B
bar  one     -0.255624
     three   -0.197065
     two      0.065609
foo  one      2.350834
     three    0.453857
     two     -1.522873
Name: D, dtype: float64

# Categorical Data Handling

In [ ]:


df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6],
     "raw_grade":
         ["a", "b", "b", "a", "a", "e"]}
)

df["grade"] = df["raw_grade"].astype("category")

print(df["grade"])

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): ['a', 'b', 'e']